//
   Created by root on 15-2-6.
extends layout
block content
    div
        each value in data
           a(href="http://120.24.80.233/line?station=#{value}-1") #{value}路
           img(src='/src/left.png')
           br


