.block
{
    border:6px solid #bbbbbb;
    width:280px;
}

.info
{
    width: 280px;
}

.bus
{
    float:left;
    line-height: 26px;
    height:26px;
    width:50px;
    text-align: right;
}

.img
{
    float: left;
    height: 26px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}
.station
{
    float: right;
    text-align: left;
    line-height: 26px;
    height: 26px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
}